<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">name: {{ name }}Zachary</div> -->
    <div class="dashboard-text">name: {{ userInfo.phone }}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { getToken, getUserInfo } from '@/utils/auth'
// import user from '@/store/modules/user'

export default {
  name: 'Dashboard',
  data() {
    return {
      userInfo: null
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  created() {
    this.getUserInfo()
  },
  methods: {
    getUserInfo() {
      var token = getToken()
      console.log('用户的token' + token)
      var userData = getUserInfo()
      console.log('用户的数据')
      console.log(userData)
      this.userInfo = JSON.parse(userData)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
